/* Start Variables */
:root {
    --main-color: #2196f3;
    --secondary-color: #2c59be;
    --main-background: #fafafb;
    --main-transition: 0.3s;
}
/* End Variables */
/* Start Global Rules */
body {
    font-family: "Work Sans", sans-serif;
}
a {
    text-decoration: none;
}
/* End Global Rules */
/* Start Header */
.navbar {
    background-color: white;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    padding: 0;
}
.navbar .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: var(--main-color);
    font-weight: bold;
    font-size: 26px;
}

.navbar .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: relative;
    font-weight: 500;
    background-image: linear-gradient(
            to left,
            var(--main-color),
            var(--main-color) 50%,
            #000 50%
    );
    background-size: 200% 100%;
    background-position: 0;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all var(--main-transition) ease-in-out;
    overflow: hidden;
    font-size: 17px;
}
.navbar .nav-link:hover {
    background-position: -100%;
    left: 0;
}
.navbar .nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    bottom: 0px;
    left: -100%;
    transition: var(--main-transition);
}
.navbar .nav-link:hover:before {
    left: 0;
}
@media (max-width: 991px) {
    .navbar .nav-link {
        margin: 0 auto;
        width: fit-content;
    }
}
.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 991px) {
    .dropdown {
        padding: 8px 0;
    }
}
.dropdown button {
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    font-weight: 500;
}
.dropdown button:hover {
    background-color: #e9e3fc;
    border-color: black;
}
.dropdown button img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.dropdown button::after {
    color: black;
}
.dropdown .dropdown-menu {
    margin-top: 8px;
    width: 170px;
}
@media (max-width: 991px) {
    .dropdown .dropdown-menu {
        margin-top: 0;
        left: 40%;
    }
}
/* End Header */
/* Start Profile */
.profile {
    background-color: #f1f5f9;
    min-height: calc(100vh - 60px);
    padding: 30px 50px;
}
.profile .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.profile .header h2 {
    position: relative;
}
.profile .header h2::before, .profile .header h2::after {
    content: "";
    position: absolute;
    height: 3px;
    bottom: -10px;
    left: 0;
}
.profile .header h2::before {
    background-color: white;
    width: 125%;
}
.profile .header h2::after {
    background-color: var(--main-color);
    width: 45%;
}
.profile .profile-container {
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
@media (max-width: 767px) {
    .profile .profile-container {
        flex-direction: column;
    }
}
.profile .profile-container .img-box {
    width: 300px;
    text-align: center;
    padding: 20px;
}
@media (min-width: 768px) {
    .profile .profile-container .img-box {
        border-right: 1px solid #eee;
    }
}
.profile .profile-container .img-box img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.profile .profile-container .img-box h3 {
    margin: 0;
}
.profile .profile-container .img-box p {
    color: #888;
    margin-top: 10px;
}
.profile .profile-container .profile-content {
    width: 100%;
}
.profile .profile-container .profile-content .my-box {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #eee;
    transition: var(--main-transition);
}
.profile .profile-container .profile-content .my-box:hover {
    background-color: #f9f9f9;
}
@media (max-width: 767px) {
    .profile .profile-container .profile-content .my-box {
        text-align: center;
        justify-content: center;
    }
}
.profile .profile-container .profile-content .my-box h4 {
    width: 100%;
    font-weight: normal;
    /*font-size: 15px;*/
    color: var(--main-color);
    margin: 0;
}
.profile .profile-container .profile-content .my-box > div {
    min-width: 250px;
    padding: 10px 10px 0;
}
.profile .profile-container .profile-content .my-box > div span:first-child {
    color: #888;
}
.profile .profile-container .profile-content .my-box > div ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding-left: 0;
    margin-bottom: 0;
}
/* End Profile */
/* Start Visualiser */
.visualiser {
    margin-bottom: 20px;
}
/* End Visualiser */
/* Start Modifier */
.modifier {
    margin-bottom: 20px;
}
.modifier .img-box > a {
    border-radius: 50%;
    position: relative;
}
.modifier .img-box > a::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    opacity: 0;
}
.modifier .img-box > a:hover:before {
    opacity: .7;
}
.modifier .img-box > a .img-modif {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
}
.modifier .img-box > a:hover .img-modif {
    opacity: .9;
}
.modifier h4 {
    margin-bottom: 10px !important;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}
/* End Modifier */
