/* Start Variables */
:root {
    --main-color: #2196f3;
    --secondary-color: #2c59be;
    --main-background: #fafafb;
    --main-transition: 0.3s;
}
/* End Variables */
/* Start Global Rules */
body {
    font-family: "Work Sans", sans-serif;
}
ul {
    list-style: none;
}
/* End Global Rules */
/* Start Components */
.fancy {
    background-color: transparent;
    border: 2px solid #000;
    /*border: 2px solid var(--main-color);*/
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    /*cursor: pointer;*/
    width: fit-content;
    /*float: right;*/
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0 auto 70px;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    /*text-decoration: none;*/
    /*text-transform: none;*/
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 15px;
}

.fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: black;
    /*background: var(--main-color);*/
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}
.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    /*background: #e8e8e8;*/
    background: white;
    /*background: var(--main-color);*/
    transition: width 0.5s ease-out, left 0.3s ease-out;
}
.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    /*color: var(--main-color);*/
}
.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    /*background: #e8e8e8;*/
    background: white;
    /*background: var(--main-color);*/
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    /*background: #e8e8e8;*/
    background: white;
    /*background: var(--main-color);*/
    transition: width 0.5s ease-out, right 0.3s ease-out;
}
.fancy:hover {
    color: white;
    /*background: black;*/
    background: var(--main-color);
    border-color: var(--main-color);
}
.fancy:hover::before {
    width: 0.9375rem;
    background: white;
}

.fancy:hover .text {
    color: white;
    padding-left: 1.5em;
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}
/* End Components */
/* Start Header */
.navbar {
    background-color: white;
    padding: 0;
    z-index: 33;
}
.navbar .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: var(--main-color);
    font-weight: bold;
    font-size: 26px;
}
.navbar .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: relative;
    background-image: linear-gradient(
        to left,
        var(--main-color),
        var(--main-color) 50%,
        #000 50%
    );
    background-size: 200% 100%;
    background-position: 0;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all var(--main-transition) ease-in-out;
    overflow: hidden;
    font-size: 17px;
    font-weight: 500;
}
.navbar .nav-link:hover {
    background-position: -100%;
    left: 0;
}
.navbar .nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    bottom: 0;
    left: -100%;
    transition: var(--main-transition);
}
.navbar .nav-link:hover:before {
    left: 0;
}
@media (max-width: 991px) {
    .navbar .nav-link {
        margin: 0 auto;
        width: fit-content;
    }
    .navbar .collapse > a {
        display: block;
        margin: 5px auto;
        width: fit-content;
    }
}
.navbar .collapse > a {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, var(--main-color), var(--main-color));
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
}

.navbar .collapse > a:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 #05bada66;
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}
/* End Header */
/* Start Welcome */
.custom-shape-divider-bottom-1682154630 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1682154630 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 200px;
}
.custom-shape-divider-bottom-1682154630 .shape-fill {
    fill: var(--main-color);
}
.landing-page {
    height: calc(100vh - 60px);
    position: relative;
}
.landing-page .content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing-page .text {
    flex-basis: 50%;
    text-align: center;
}
.landing-page .text h1 {
    font-weight: 700;
}
.landing-page .text p {
    font-size: 18px;
    color: #888;
}
.landing-page .img-container {
    flex-basis: 50%;
}
.landing-page .img-container img {
    width: 600px;
    height: 100%;
    position: relative;
    animation: up-and-down 5s linear infinite;
    z-index: 100;
}
/* End Welcome */
/* Start Features */
.features {
    background-color: var(--main-color);
    padding-top: 100px;
    padding-bottom: 100px;
}
.features h2 {
    color: white;
    margin: 0 auto 40px;
    width: fit-content;
}
.features .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.features .box {
    color: white;
    text-align: center;
    border-radius: 50px;
    padding: 40px 10px 20px;
    width: 250px;
    transition: var(--main-transition);
}
.features .box:hover {
    box-shadow:  20px 20px 60px #1c80cf,
    -20px -20px 60px #26adff;
}
.features .box svg {
    font-size: 50px;
}
.features .box h5 {
    margin-top: 40px;
    margin-bottom: 20px;
}
.features .box p {
    color: #CED4DA;
}
/* End Features */
/* Start Stats */
.stats {
    padding: 100px 0;
    background-image: url("../img/adi-goldstein-EUsVwEOsblE-unsplash.jpg");
    background-size: cover;
    position: relative;
}
.stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 90%);
}
/*.stats h2 {
    margin: 0 auto 40px;
    width: fit-content;
}*/
.stats .fancy .top-key {
    background: #e7e7e8;
}
.stats .fancy .bottom-key-1, .stats .fancy .bottom-key-2 {
    background: #eaf9f7;
}
.stats .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    margin: 0 auto;
}
.stats .info .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 250px;
    border-radius: 30px;
    /*background-color: var(--main-color);*/
    background-color: white;
    /*color: white;*/
    transition: 0.5s;
    z-index: 5;
}
.stats .info .box:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.stats .info .box .number {
    font-size: 35px;
    font-weight: bold;
    margin: 10px 0;
}
.stats .info .box .text {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: var(--main-color);
}
/* End Stats */
/* Start Footer */
.footer {
    background-color: #191919;
    padding: 70px 0;
}
.footer .content {
    display: flex;
    justify-content: space-between;
    color: white;
}
.footer .content h3 {
    font-weight: 600;
    margin-bottom: 30px;
}
.footer .content .site-info {
    max-width: 400px;
}
.footer .content .site-info p {
    line-height: 1.7;
    margin-bottom: 40px;
}
.footer .content .site-info ul {
    display: flex;
    gap: 10px;
    margin-bottom: 0;
    padding-left: 0;
}
.footer .content .site-info ul li a {
    background-color: #193ceb;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    transition: var(--main-transition);
}
.footer .content .site-info ul li a.facebook:hover {
    background-color: #1877f2;
}
.footer .content .site-info ul li a.linkedin:hover {
    background-color: #0077b5;
}
.footer .content .site-info ul li a.twitter:hover {
    background-color: #1da1f2;
}
.footer .content .site-address .box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}
.footer .content .site-address .box svg {
    font-size: 25px;
    color: #193ceb;
}
/* End Footer */
/* Start Animation */
@keyframes up-and-down {
    0%,
    100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}
/* End Animation */
